<form [formGroup]="form" (ngSubmit)="fazerLogin()" >
    <!--Campo E-mail-->
    <div class="mb-3">
        <label for="email" class="form-label">
            <!--Ajudar o usuário no primeiro login-->
            E-mail
            <app-tooltip texto="E-mail de login padrão: ia@email.com" position="top">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                    class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                </svg>
            </app-tooltip>
        </label>
        <input formControlName="username" type="email" class="form-control" id="email" placeholder="sasas@example.com" required>
    </div>
    <!--Campo Senha-->
    <div class="mb-3 position-relative">
        <label for="password" class="form-label">
            Senha
            <!--Ajudar o usuário no primeiro login-->
            <app-tooltip texto="Senha de login padrão: eldIa2025" position="top">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                    class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                </svg>
            </app-tooltip>
            <button type="button" class="senha p-0 ms-2 position-absolute end-0" (click)="toggleSenha()">
                <i [class]="mostrarSenha ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
        </label>

        <input 
        formControlName="password"
        id="senha"
        [type]="mostrarSenha ? 'text' : 'password'" 
        class="form-control"
        placeholder="******"
        >            
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn" [disabled]="isLoading || form.invalid"> Entrar</button>
    </div>
    <!--Mensagem para auxiliar o usuário como acessar o gerenciador-->
    <div class="d-flex justify-content-center p-4">
        <app-tooltip texto="Apenas outros Usuários podem criar um novo Usuário" position="bottom">
            <span class="ajuda-msg">Como conseguir o acesso?</span>
        </app-tooltip>
    </div>
</form>