<nav class="d-flex flex-wrap align-items-center justify-content-start justify-content-md-between py-3 mb-4 border-bottom">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="ms-4 nav-link px-2">Início</a></li>
      <li><a href="#" class="nav-link px-2">Usuários</a></li>
      <li><a href="#" class="nav-link px-2">Tipos de Contato</a></li>
    </ul>
    <div class="dropdown text-end me-4">
      <a href="#" class=" text-light d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://img.myloview.com.br/quadros/user-icon-vector-people-icon-profile-vector-icon-person-illustration-business-user-icon-users-group-symbol-male-user-symbol-700-223068886.jpg" alt="mdo" width="26" height="26" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small">
        <li><a class="dropdown-item" href="#">Sair</a></li>
      </ul>
    </div>
</nav>