<section class="container">
    <!--Card do login-->
    <article class="login-card">
        <div class="d-flex justify-content-center pb-4">
            <!--Favicon para o Head e Icone de algumas secções-->
            <svg width="37" height="43" xmlns="http://www.w3.org/2000/svg">
                <image href="icone.png" width="37" height="43"
                    alt="Logotipo para icone Gerenciador de Usuários da Eldorado Brasil" />
            </svg>
        </div>
        <!--Formulario de Login-->
        <app-form-login></app-form-login>
    </article>
</section>