.login-card {
    font-size: 11px;
    max-width: 500px;
    margin: 50px auto;
    padding: 40px 20px 80px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-card h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-card .form-control {
    margin-bottom: 15px;
    font-size: 12px;
}

.login-card div .btn {
    background-color: #054A29;
    color: white;
    padding: 10px 30px 10px 30px;
    font-size: 12px;  
}

.ajuda-msg {
    color: #2D885D;
    text-decoration: underline;
}

