.login-card {
    font-size: 14px;
    max-width: 500px;
    margin: 50px auto;
    padding: 40px 20px 80px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-card h2 {
    text-align: center;
    margin-bottom: 20px;
}