<form class="form-cadastro">
    <!--Campo Nome do Contato-->
    <div class="mb-3">
        <label for="name" class="form-label">Nome do Contato</label>
        <input type="text" class="form-control" id="name" placeholder="Maria">
    </div>
    <!--Campo Select dos Tipos de Contato da API-->
    <div class="mb-3">
        <label for="tipo" class="form-label">Tipo de Contato</label>
        <select class="form-select form-control" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>    
    </div>
    <!--Campo Contato (Desc)-->
    <div class="mb-3">
        <label for="contato" class="form-label">Contato</label>
        <input type="text" class="form-control" id="senna" placeholder="aaa@email.com/18991999999">
    </div>
    <button type="submit" class="btn btn-success mt-2">Cadastrar Contato!</button>
</form>