<form class="form-cadastro">
    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="Maria">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="maria@exemplo.com">
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senna" placeholder="*************">
    </div>
    <button type="submit" class="btn btn-success mt-2">Cadastrar Usuário!</button>
</form>