.relatorios-page .card {
  border: 0;
  border-radius: 0.5rem;
}
.relatorios-page .card h6 {
  font-weight: 600;
}

.relatorios-page ngx-charts-line-chart,
.relatorios-page ngx-charts-pie-chart,
.relatorios-page ngx-charts-bar-vertical-stacked,
.relatorios-page ngx-charts-bar-horizontal,
.relatorios-page ngx-charts-bar-vertical {
  display: block;
  width: 100%;
}
