<!-- Modal -->
<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="d-flex justify-content-end">
            <button type="button" class="m-2 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-header">
            <div class="w-100">
                <app-nav-view secao1="Contatos" secao2="Cadastrar Novo Contato" caminhoRouter="modal"
                    (modalRouter)="secaoAtual = $event">
                </app-nav-view>
            </div>
        </div>
        <div class="modal-body mb-5">
            @if(secaoAtual === 'secao1') {
                <!--Contatos que estão ativos-->
                <h6 class="text-center">Contatos Ativos</h6>
                <app-table-contato tipo="ativo"></app-table-contato>

                <!--Contatos que estão desativos-->
                <h6 class="text-center mt-4">Contatos Inativos</h6>
                <app-table-contato></app-table-contato>
            }
            @else {
                <section class="container">
                    <app-form-contato></app-form-contato>
                </section>
            }

        </div>
        
    </div>
</div>